* {
    margin: 0px;
}
h1{
    text-align: center;
    font-family: Geneva, Verdana, sans-serif;
    padding: 30px;
}

.bloque{
    width: 700px;
    margin:auto;
}

h2{

    font-family: 'Trebuchet MS', sans-serif;
    padding:10px 5px 10px 5px;
    background-color: grey;
}

.definition {
    width: 550px;
    margin:auto;
    padding:10px 5px 10px 5px;
    text-align:justify;
}

.logo {
    width: 120px;
    float:left;
    margin: 10px;
}

